Notes on Moneterey Karabiner setup
-☑️ TODO: 
	- b+o+a for boldate, n+e+q for new notes
-🔰 FEATURED/NEW
	o+i for omniffoucs

template for lettermodes
;========================== KEYA MODE ===========================
	{:des "keya-mode for KEYA things" :rules [ :a& ;* ––––––––––––––––––––––––––––––––––
		[:KEYB [[:SPKR3] :!Oescape] ] ;• KEYA+KEYB for autocomplete now (via )
		[:KEYB [:km "KM MACRO"]] ;• KEYA+KEYB for KM MACRO
	;; keep around
	]}


12/09/21
dealing with S mode

dealing with U Mode
;============================ U MODE ============================
	{:des "u-mode for..." :rules [
		;+ u+c+...............................................................................................................................
			[:c [:km "Capitalize Word"] [["u&" 1] ["uc&" 1]]] ;+ u+c²
			[:s [:km "Uppercase Selection"] [["u&" 1] ["uc&" 1]]] ;+ u+c+s for Uppercase Selection
			[:w [:km "Uppercase Word"] [["u&" 1] ["uc&" 1]]] ;+ u+c+w for Uppercase Word
			[:p [:km "Uppercase Word"] [["u&" 1] ["uc&" 1]]] ;+ u+c+p for Uppercase Word
		;+ u+p+..............................................................................................................................
			[:c [:km "Uppercase Word"] [["u&" 1] ["up&" 1]]] ;+ u+p+c for Uppercase Word
	:u& ;* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
		;* u+c for uppercase word
			[:c [ [:vk_none] ["uc&" 1] ] nil {:delayed {:canceled [ ["uc&" 0]["u&" 0] ]
			:invoked [ [:km "Uppercase Word"] ["uc&" 0] ] }:held [ [:km "u held"] ["uc¬" 1]] }]
		;* u+p for...
			[:p [[:vk_none]["up&" 1]] nil {:delayed{:canceled [["up&" 0]["u&" 0]]
			:invoked [[:vk_none]["up&" 0]] } :held [[:vk_none]] }]
		[:s [:km "New Sticky"]] ;• u+s for New Sticky
	]}


☑️  daling with w mode...
;============================ W MODE =============================
	{:des "w-mode" :rules [
		;+ w+spacebar...................................................................................................
			[:spacebar [[:SPKR2]:!!f14] [["w&" 1]["wspacebar&" 1]] ] ;+ w+spacebar²  for Moom
			; [:right_control [[:SPKR2]:escape [:btt "Expose"]] [["w&" 1]["wright_control&" 1]] ];+ w+R⌃²  for Expose via BTT Hotkey
			; [:e [ :escape  [:btt "Expose"] ] [["w&" 1] ["wspacebar&" 1]] ] ;+ w+e  for Expose via BTT Hotkey
			; [:d [ :escape [:SPKR3] [:btt "Show Desktop"] ] [["w&" 1] ["wspacebar&" 1]]] ;+ w+spacebar+d for Show Desktop (via BTT)
			; [:spacebar :j [["w&" 1] ["wspacebar&" 1]] ]
			;+ w+spacebar+n for Show Notifcation Center (via BTT)
			[:n [ [:btt "Show Notification Center"] ] [["w&" 1] ["wspacebar&" 1]]]
			;+ w+spacebar+a for Mission Control: Application Windows
			[:a [:km "Mission Control: Application Windows"] [["w&" 1] ["wspacebar&" 1]]]
		;+ w+left_command+.................................................................................................................
			[:left_command [:!!SCTOf4] [["w&" 1] ["wleft_command&" 1]] ] ;+ w+left_command²  for Expose via BTT Hotkey
		;+ w+l+.................................................................................................................
			[:l [[:SPKR3][:btt "Restore last saved window layout"]] [["w&" 1] ["wl&" 1]] ] ;+ w+l+l  for Restore window layout via BTT Hotkey
			[:r [[:SPKR3][:btt "Restore Saved Window Layout"]] [["w&" 1] ["wl&" 1]] ] ;+ w+l+r for Restore Saved Window Layout via BTT Hotkey
			[:s [[:SPKR3][:btt "Save Current Window Layout"]] [["w&" 1] ["wl&" 1]] ] ;+ w+l+s for Save Current Window Layout via BTT Hotkey

	:w& ;* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
			;* w+spacebar for Moom via ⌃⌥⇧⌘f14 hotkey
				[:spacebar [[:btt "Expose"] [:SPKR3]["wspacebar&" 1]] nil {:delayed{:canceled [["wspacebar&" 0]["w&" 0]]
				:invoked [[:vk_none]["wspacebar&" 0]] }}]
			;! w+spacebar for Moom via ⌃⌥⇧⌘f14 hotkey (old)
				; [:spacebar [:!!f14 [:SPKR3]["wspacebar&" 1]] nil {:delayed{:canceled [["wspacebar&" 0]["w&" 0]]
				; :invoked [[:vk_none]["wspacebar&" 0]] }}]
			;* w+right_control for Jump to window via context hot key
						[:right_control [[:btt "Expose"] [:SPKR3]["wright_control&" 1]] nil {:delayed{:canceled [["wright_control&" 0]["w&" 0]]
						:invoked ["wright_control&" 0] }:held [:km "Mission Control: Application Windows"] }]
			;! w+right_control for Jump to window via context hot key (old)
						; [:right_control [:!!f14 [:SPKR3]["wright_control&" 1]] nil {:delayed{:canceled [["wright_control&" 0]["w&" 0]]
						; :invoked ["wright_control&" 0] }:held [:km "Mission Control: Application Windows"] }]

			;* w+left_command for Expose (via BTT hotkey ⌃⌥⇧⌘f4)
				[:left_command [[:btt "Expose"]  ["wleft_command&" 1]] nil {:delayed
				{:canceled [["wleft_command&" 0]["w&" 0]] ; 'i' is said for everything
				:invoked [[:vk_none] ["wleft_command&" 0]] } ; is triggered as delayed response even when holding
				:held [  [:km "Mission Control: Application Windows"] ["wleft_command¬" 1]] }]
			;* w+l+ for Window layout via BTT
				[:l [ [:vk_none] ["wl&" 1] ] nil {:delayed {:canceled [ ["wl&" 0]["w&" 0] ]
				:invoked [ [:vk_none] ["wl&" 0]] }:held [ [:SPKR3] [:btt "Save current window layout"]] }]



12/06/21 ;= montereySync.edn .011 continuuing to clean up letter modes...

12/04/21
cleaned up C mode
	;============================ C MODE =============================
	{:des "c-mode for c things" :rules [
		;+ c+o+...............................................................................................................................
			[:o [:km "Query Contacts"] [["c&" 1] ["co&" 1]]] ;+ c+o+o for Query Contacts
			[:n [:km "Connect Palette"] [["c&" 1] ["co&" 1]]] ;+ c+o+n for Connect Palette
			[:spacebar [:km "Query Contacts"] [["c&" 1] ["co&" 1]]] ;+ c+o+spacebar for Query Contacts
		;+ c+a+...............................................................................................................................
			[:a [:km "Capitalize Word"] [["c&" 1] ["ca&" 1]]] ;+ c+a+a for Capitalize Word
			[:w [:km "Capitalize Word"] [["c&" 1] ["ca&" 1]]] ;+ c+a+w for Capitalize Word
			[:p [:km "Capitalize Word"] [["c&" 1] ["ca&" 1]]] ;+ c+a+p for Capitalize Word
			[:spacebar [:km "Query Calendar"] [["c&" 1] ["ca&" 1]]] ;+ c+a+spacebar for Query Calendar
			[:s [:km "Capitalize Selection"] [["c&" 1] ["ca&" 1]]] ;+ c+a+s for Capitalize Selection
			[:l [:km "Go To Calendar"] [["c&" 1] ["ca&" 1]]] ;+ c+a+l for Go To Calendar
		;+ c+h+...............................................................................................................................
			[:h [:km "Check Spelling (via Alfred)"] [["c&" 1] ["ch&" 1]]] ;+ c+h+h for Check Spelling (via Alfred)
			[:s [:km "Check Spelling (via Alfred)"] [["c&" 1] ["ch&" 1]]] ;+ c+h+s for Check Spelling (via Alfred)
	:c& ;* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
		;* c+o for contacts
				[:o [ [:vk_none] ["co&" 1] ] nil {:delayed{:canceled [ ["co&" 0]["c&" 0] ]:invoked
				[ [:km "Activate Contact"] ["co&" 0] ] } :held [ [:km "held"] ["co¬" 1]] }]
		;* c+a for Calendar and capitalize...........................
				[:a [[:vk_none] ["ca&" 1]] nil {:delayed{:canceled [ ["ca&" 0]["c&" 0]]:invoked
				[[:km "Activate Calendar"] ["ca&" 0]] } :held [[:km "held"] ["ca¬" 1]] }]
		;* c+h for...
			[:h [[:vk_none]["ch&" 1]] nil {:delayed{:canceled [["ch&" 0]["c&" 0]]
			:invoked [[:km "Check Spelling (via Alfred)"]["ch&" 0]] } :held [[:vk_none]] }]
		;•jlik for ⌘ Cursor navigation..............................
			[:#Sj :!C#Sleft_arrow]
			[:#Sl :!C#Sright_arrow]
			[:#Si :!C#Sup_arrow]
			[:#Sk :!C#Sdown_arrow]
		[:d :!Cquote] ;• c+d for ⌘' (tag in evernote, )
		[:comma [:km "switch internal space left"] ] ;• c+, for switch internal space left
		[:period [:km "switch internal space right"] ] ;• c+. for switch internal space right
	]}
cleaned up A Mode
	{:des "a-mode for a things" :rules [
		;+ a+k+k.............................................................................................................................
			[:k :!CTSt [["a&" 1] ["ak&" 1]]] ;+ a+k+k for Auto-complete (via typinator)
		;+ a+m+..............................................................................................................................
			[:m [:km "km macro 1"] [["a&" 1] ["am&" 1]]] ;+ a+m+m for km macro 1
			[:p [:km "Activate Amphetamine"] [["a&" 1] ["am&" 1]]] ;+ a+m+p for Activate Amphetamine
	:a& ;* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
		;* a+k for Autocompletion
				[:k [[:SPKR3] :!Oescape ["ak&" 1]] nil {:delayed {:canceled [["ak&" 0]["a&" 0]]
				:invoked [ [:vk_none] ["ak&" 0] ] }:held [ [:km "a held"] ["ak¬" 1]] }]
		;* a+m for Amphetamine
				[:m [[:vk_none]["am&" 1]] nil {:delayed{ :canceled [["am&" 0]["a&" 0]]
				:invoked [[:vk_none]["am&" 0]] } :held [[:km "a held"]] }]
		[:c [[:SPKR3] :!Oescape] ]		;• a+c for autocomplete now
		[:semicolon :!Osemicolon] ;•🔰  a+semicolon for elipse (to be used as suffix to trigger things)
		; [:comma :!TOleft_arrow] [:period :!TOright_arrow] ;• a+comma/period  for Active Screen Workspace Left/Right (via ⌃⌥←  in BTT)
	]}


11/30/21 cleaning up J and K mode
		;+ h+o+...............................................................................................................................
			[:w [:km "Hover Evernote Now"] [["h&" 1] ["ho&" 1]]] ;+ h+o+w Hover Evernote Now
			[:a [:km "Hover Evernote Agenda"] [["h&" 1] ["ho&" 1]]] ;+ h+o+a Hover Evernote Agenda
			[:p [:km "Hover Evernote Past/Processed"] [["h&" 1] ["ho&" 1]]] ;+ h+o+p Hover Evernote Past/Processed
			[:z [:km "Hover Evernote Past/Processed"] [["h&" 1] ["ho&" 1]]] ;+ h+o+z Hover Evernote Past/Processed
			[:e [:km "Hover Recent Daily Journal Entry"] [["h&" 1] ["ho&" 1]]] ;+ h+o+e Hover Recent Daily Journal Entry
			[:d [:km "Hover Evernote To Do"] [["h&" 1] ["ho&" 1]]] ;+ h+o+d Hover Evernote To Do
			[:c [:km "Hover Evernote Communications/Messages"] [["h&" 1] ["ho&" 1]]] ;+ h+o+c Hover Evernote Communications/Messages
			[:i [:km "Hover OmniFocus Inbox"] [["h&" 1] ["ho&" 1]]] ;+ h+o+i Hover OmniFocus Inbox
			[:f [:km "Hover OmniFocus Focus Now"] [["h&" 1] ["ho&" 1]]] ;+ h+o+ for Hover OmniFocus Focus Now
			[:o [:km "Go To OmniFocus Agenda Folder"] [["h&" 1]["ho&" 1]] ] ;+ h+o+o for Go To OmniFocus Agenda Folder
      	;* h+o for Hover Window
			[:o [ [:vk-none]  ["ho&" 1] ] nil {:delayed {:canceled [ ["ho&" 0] ]
			:invoked [ [:km "Hover Window"] ["ho&" 0] ] } :held ["say 'holding o'" ["ho¬" 1]] }]
		[:w [:!Oleft_arrow :!OSright_arrow] ] ;• h+w for highlight word
		[:l [:!Ta :!TSe :!Sright_arrow] ] ;• h+l for highlight lio


			;* j+d for daily Journal
					[:d [[:vk_none]["jd&" 1]] nil {:delayed {:canceled[["jd&" 0]["j&" 0]]
					:invoked[[:km "Hover Recent Daily Journal Entry"]["jd&" 0]] } :held[[:km "held"]["jd¬" 1]] }]
			;* j+left_gui for blank (held if held)
					[:left_gui [ [:SPKR3] :!FCTOSf1 ["jleft_gui&" 1] ] nil {:delayed {:canceled [ ["jleft_gui&" 0]["j&" 0] ]
					:invoked [ [vk_none] ["jleft_gui&" 0] ] }:held [ [:km "j held"] ["jleft_gui¬" 1]] }]
			;* j+right_gui for blank (held if held)
				[:right_gui [ [:SPKR3] :f13 ["jright_gui&" 1] ] nil {:delayed {:canceled [ ["jright_gui&" 0]["j&" 0] ]
				:invoked [ [vk_none] ["jright_gui&" 0] ] }:held [ [:km "j held"] ["jright_gui¬" 1]] }]
			;* j+o for blank (held if held) (🔴 disabled)
				;; [:o [ [:SPKR3][:vk_none]["jo&" 1] ] nil {:delayed {:canceled [ ["jo&" 0]["j&" 0] ]
				;; :invoked [ [:km "Jump to OmniFocus Quick"] ["jo&" 0] ] }:held [ [:km "Jump to OmniFocus"]] }]

		; [:left_gui [[:SPKR3] :!FCTOSf1]] ;* (l)⌘ for focus menu bar (via System Shortcut)
		; [:right_gui [[:SPKR3] :f13]] ;* (r)⌘ for focus bartender (via System Shortcut)

		;+ k+r+...................................................................................................................................
			[:r [:km "Edit KE Config"] [["k&" 1] ["kr&" 1]]] ;+ k+r+r for Edit KE Config
			[:b [:km "Open Edit Karabiner Keys [Sublime Project]"] [["k&" 1] ["kr&" 1]]] ;+ k+r+b for Open Edit Karabiner Keys [Sublime Project]
			[:e [:km "Open Edit Karabiner Elements Configuration [Sublime Project]"] [["k&" 1] ["kr&" 1]]] ;+ k+r+e for Open Edit Karabiner Elements Configuration [Sublime Project]
			[:v [:km "Activate Karabiner EventViewer"] [["k&" 1] ["kr&" 1]]] ;+ k+r+v for Activate Karabiner EventViewer
		;+ k+e+...................................................................................................................................
			[:v [:km "Activate Karabiner EventViewer"] [["k&" 1] ["ke&" 1]]];+ k+e+v for Activate Karabiner EventViewer
		;+ k+p+..................................................................................................................................
			;+ k+p² for Add to Evernote End
			[:p [:km "Add to Evernote End"] [["k&" 1] ["kp&" 1]]]
			;+ k+p+spacebar for Query KeePass
			[:spacebar [:km "Query KeePass"] [["k&" 1] ["kp&" 1]]]
			;+ k+p+n for New Password
			[:n [:km "New Password"] [["k&" 1] ["kp&" 1]]]
		;+ k+c+..................................................................................................................................
			;+ k+c² for Search Key Clue KM (alf)
			[:c [:alf "Search Key Clue KM (alf)" "me.zhaocai.keylue"] [["k&" 1] ["kc&" 1]]]
		;+ k+o+...............................................................................................................................
			[:e [:km "Hyperlink Title Clean Right"] [["k&" 1] ["ko&" 1]]] ;+ k+o+e for Hyperlink Title Clean Right
		;+ k+m+...............................................................................................................................
			[:spacebar [:km "Jump to Macro By Name (Global)"] [["k&" 1] ["km&" 1]]] ;+ k+m+spaceber for Jump to Macro By Name (Global)

			;* k+r for Karabiner Stuff
      			[:r [[:vk_none]["kr&" 1]] nil {:delayed {:canceled [["kr&" 0]["k&" 0]] :invoked
				[[:km "Activate Karabiner Elements"]["kr&" 0]] } }]
			;* k+e for Karabiner Stuff
				[:e [[:vk_none]["ke&" 1]] nil {:delayed {:canceled [["ke&" 0]["k&" 0]] :invoked
				[[:km "Activate Karabiner Elements"]["ke&" 0]] } }]
			;* k+p for Activate KeePass
      			[:p [[:vk_none]["kp&" 1]] nil {:delayed {:canceled [["kp&" 0]["k&" 0]] :invoked
				[[:km "Activate KeePass"]["kp&" 0]] } }]
			;* k+c for Search Key Clue KC (alf)
      			[:c [[:alf "Search Key Clue KC (alf)" "me.zhaocai.keylue"]["kc&" 1]] nil {:delayed {:canceled [["kc&" 0]["k&" 0]] :invoked
				[[:vk_none]["kc&" 0]] } }]
			;* k+o for...
				[:o [[:vk_none]["ko&" 1]] nil {:delayed{:canceled [["ko&" 0]["k&" 0]]
				:invoked [[:vk_none]["ko&" 0]] } :held [[:vk_none]] }]
			;* k+m for...
				[:m [[:SPKR3][:vk_none]["km&" 1]] nil {:delayed{:canceled [["km&" 0]["k&" 0]]
				:invoked [[:vk_none]["ko&" 0]] } :held [[:vk_none]] }]
		; ;* k+m for...
		; 		[:m [[:km "Jump to Macro By Name (Global)"]["km&" 1]] nil {:delayed {:canceled [["km&" 0]["k&" 0]]
				; :invoked [[:vk_none]["km&" 0]] } :held [[:vk_none]] }]


11/30/21 removed Z chord mode
		;+ z+b+...............................................................................................................................
			[:b [:km "km macro 1"] [["z&" 1] ["zb&" 1]]] ;+ z+b² for km macro 1
			[:i :apple_display_brightness_increment [["z&" 1] ["zb&" 1]]] ;+ z+b+i
			[:k :apple_display_brightness_decrement [["z&" 1] ["zb&" 1]]] ;+ z+b+i
	:z& ;* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
		;* z+b for brightness (held if held)
				[:b [ [:vk_none] ["zb&" 1] ] nil {:delayed {:canceled [ ["zb&" 0]["z&" 0] ]
				:invoked [ [vk_none] ["zb&" 0] ] }:held [ [:km "z held"] ["zb¬" 1]] }]




11/16/21
	- label depricated rules (🔴 disabled) and fixed rules with 🟢
	;; ✅  fixed slash+spacebar for help menu search
	;; ✅  fixed n+i for omnifocus quick entry
	-


(🔴 disabled)
	;* j+e for Jump to Evernote (🛑 disabled)
					;; [:e [ [:SPKR2] :!COspacebar ["je&" 1] ] nil {:delayed {:canceled[["je&" 0]["j&" 0]]
					;; :invoked[:vk_none ["je&" 0]] } :held[:escape [:SPKR3] [:km "Query Evernote"]["je¬" 1]] }]
