## working on pick ist for vault 
==============================================================================================================

aggregating urls for pick list ========================================================================================
[:h [[:SPKR3] [:open "obsidian://advanced-uri?vault=reference-vault&commandid=quickadd%253Achoice%253Aab0aa8c1-1fda-41f6-ade3-4790b02a4c1c"] ]] ;;• a+h for QuickAdd 🫐 QuickAdd Ad Hoc
[:d [[:SPKR3] [:open "obsidian://advanced-uri?vault=reference-vault&commandid=quickadd%253ArunQuickAdd"] ]] ;;• a+d for QuickAdd
[:j [:open "obsidian://advanced-uri?vault=reference-vault&daily=true&mode=append"] ] ;;• d+j for append to daily journal in Obsidian (via URI)
;; [:b [[:SPKR3] [:open "obsidian://advanced-uri?vault=reference-vault&commandid=darlal-switcher-plus%253Aswitcher-plus%253Aopen"]] ] ;;• j+b jump to Obsidian (via QuickSwitcher plus URI
;; [:l [ [:SPKR3] [:open "obsidian://advanced-uri?vault=reference-vault&heading=%25F0%259F%2593%2585%2520%25202023-08-16%2520(Wed)&uid=7619bf31-ee3c-4d20-9186-8c6d839d1e33"] ] ] ;;• m+l to show master log
[:o [ [:SPKR3] [:open "obsidian://advanced-uri?vault=reference-vault&commandid=workspaces-plus%253A%25F0%259F%2596%25B2%2520OBS%2520DASHBOARD"] ] ]
	[:l [ [:SPKR3] [:open "obsidian://advanced-uri?vault=reference-vault&commandid=workspaces-plus%253A%25F0%259F%2593%2593%2520Master%2520Log%2520workspace"] ] ] ;; m+l for (via Obsidian URI for workspace new expansion )

[:c [ [:SPKR3] [:open "obsidian://advanced-uri?vault=reference-vault&commandid=obsidian42-text-transporter%253Aobsidian42-text-transporter-QC"] ] ] ;;•q+c for quick capture to highly opinionated vault 
[:r [[:SPKR3] [:open "obsidian://open?vault=reference-vault"]]] ;;• v+r for open Reference Vault ✨ new 7/30/23
[:slash [[:SPKR3] [:open "obsidian://advanced-uri?vault=reference-vault&filepath=-%20%20%F0%9F%8F%A0%20Reference%20Vault%20Home.md&uid=9cba8f4c-4c2e-4db2-bbfb-3debd61462ee"]]] ;;• v+slash for 🏠 reference vault home in Obsidian 🔰
	
		[:b [[:SPKR3] [:open "obsidian://advanced-uri?vault=reference-vault&commandid=obsidian-better-command-palette%253Aopen-better-commmand-palette"]]] ;;• v+b Better Command Palette vi
		[:n [[:SPKR3] [:open "raycast://extensions/KevinBatdorf/obsidian/createNoteCommand"]]]  ;;• v+n New Note in Obsidian via Raycast
		[:h [[:SPKR3] [:open "obsidian://advanced-uri?vault=reference-vault&commandid=darlal-switcher-plus%253Aswitcher-plus%253Aopen-headings"]]] ;;• v+h Jumpt to Obsidian  Headings via quickswitcher 
		
		[:l [[:SPKR3] [:open "obsidian://log"]]]  ;;• v+l log to daily journal reference vault via lumberjack URL 



============================================================================================================== 
{:des "tap right shift then keys"
 :rules [
         ; If right-shift-mode is on, run this command when a is pressed. Anything that depends
         ; on the mode being set must come _before_ the delayed declaration.
         [:a "open https://hackernews.com" [:right-shit-mode]]

         [:c [:km "aux: display clipboard"] [:right-shit-mode]]

		 
         ; Send right_shift unconditionally (so it still works as a modifier key)
         [:right_shift :right_shift nil
          ; and if pressed alone, trigger right-shit-mode
          {:alone [:right_shift ["right-shit-mode" 1]]
           ; when another key is invoked, or after a timeout, set the mode back to zero
           :delayed {:invoked ["right-shit-mode" 0] :canceled ["right-shit-mode" 0]}}]]}

------------

kmtrigger://macro=F0C91BF3-2B21-4A3C-BDB7-BF744FE47A92 aux: display clipboard
kmtrigger://macro=292DD5F1-95B2-4032-8B57-D816299F67FF kmp: append CB to user list
kmtrigger://macro=606258ED-41C3-429A-B08C-28F092EF6667 kmp: open/edit main list
kmtrigger://macro=1918CA69-ADC2-43DA-8FBF-CE96753E9329 kmp: pick main list
kmtrigger://macro=0EAFB3B2-E69A-46DB-ACE3-412308887AC6 kmp: pick user list
kmtrigger://macro=EB472607-B1EC-4CB3-9C05-9087F69B71D5 kmp: reset user list 
kmtrigger://macro=FAEDB634-1C48-42A4-8F93-78C471390BEE Vault Picklist

kmtrigger://macro=F2024D93-F9A3-4FB3-BDBA-063511BF7757

kmtrigger://macro=Paste%20By%20Name





kmtrigger://macro=Paste%20By%20Name&value=Whatever
kmtrigger://macro=F2024D93-F9A3-4FB3-BDBA-063511BF7757&value=Whatever



TODO
-



 ✅✅ working and included beloe ❌ broekn abaove
keyboardmaestro://m=1E1B7038-8244-4F7A-A5C3-10A99F751965_KM Vault Palette
keyboardmaestro://m=FAEDB634-1C48-42A4-8F93-78C471390BEE__Vault Picklist Macro
obsidian://open?vault=reference-vault__Open Reference Vault v+r
obsidian://advanced-uri?vault=reference-vault&uid=9cba8f4c-4c2e-4db2-bbfb-3debd61462ee__🏠reference vault home in Obsidian (v+slash)
obsidian://log__v+l log to daily journal reference vault via lumberjack URL

obsidian://advanced-uri?vault=reference-vault&commandid=omnisearch%253Ashow-modal__v+spacebar Search via OmniSearc

obsidian://advanced-uri?vault=reference-vault&commandid=obsidian-better-command-palette%253Aopen-better-commmand-palette__v+b Better Command Palette v

raycast://extensions/KevinBatdorf/obsidian/createNoteCommand__v+n New Note in Obsidian via Raycas

obsidian://advanced-uri?vault=reference-vault&commandid=darlal-switcher-plus%253Aswitcher-plus%253Aopen-headings__v+h Jumpt to Obsidian  Headings via quickswitcher
obsidian://advanced-uri?vault=reference-vault&commandid=workspace%253Atoggle-pin&uid=c2352d6a-240a-4730-90da-91bdf10486af"] ] ;;• slash+b for pin 👿 cheatsheet (ref vault) URI

---
NEED 







	]}



