some boilerplate examples

## double press
{:des "DOUBLE PRESS: ⌘q² to quit,  " :rules[
			[:!C#Pq [ :!Cq ["⌘q" 0]] ["⌘q" 1]] ; when ⌘q is pressed the first time  > variable is set to 1 and nothing is sent
			[:!C#Pq ["⌘q" 1] nil {:delayed {:invoked ["⌘q" 0] :canceled ["⌘q" 0]}}] ;? when pressed the second time send ⌘
		]}

